@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

*{
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    color: var(--fontColor);
}

:root {
    --background: rgb(255, 255, 255);
    --fontColor: white;
    --goodhealth: #6EDCD9;
    --damagedhealth: #E15FED;
    --almostdead: #9254C8;
    --borderColor: 5px solid rgba(255, 255, 255, 0.3);
    --shadowColor: rgba(0, 0, 0, 0.15);
}

body{
    background: var(--background);
    background-image: url("images/background.jpg");
}

body::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    z-index: -5;
}

.gamescreen{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
}
.gamescreen>*{
    position: relative;
    box-shadow: 0 0 20px var(--shadowColor),inset 0 0 20px var(--shadowColor);
    /* border: var(--borderColor); */
    width: calc(100vw/3.5);
    height: 100%;
}
.player{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.player1{
    background-image: url("images/Raiden.jpg");
}
.player2{
    background-image: url("images/Klee.jpg");
}
.playerDetailBox{
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.8),transparent);
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 10px;
}
.healthBox{
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 0 0 0 10px;
    width: 100%;
    overflow: hidden;
}
.health{
    width: 100%;
    height: 100%;
    opacity: 0.7;
    border-radius: 0  10px 0 0;
    animation: 2s pulsing linear alternate infinite;
    background-color: #e5e5f7;
    
    opacity: 0.8;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, #ffffff 0, #ebf91f 1px, #65ff12 0, #65ff12 50%);
}

.timerBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.78),transparent);
}
.timerBox>p{
    text-align: center;
    font-size: 1.5em;
}
.timer{
    position: relative;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    width: 100%;
    height: 20px;
}
.timeLeft{
    width: 100%;
    background: #ebf91f;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(to right, #1fff13, #fdfdfd 1px, #ebf91f 1px, #ebf91f);
    height: 100%;
}
.counter{
    font-size: 2em;
    border: 1px solid white;
    padding: 0 20px;
    border-radius: 0 5px 0 5px;
}
.gameBox{
    position: relative;
    display: flex;
    flex-direction: column;
}
.typeBox{
    border: 1px solid white;
    padding: 10px;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.typeBox>p{
    font-size: 2em;
    border: 1px solid white;
    width: 30%;
    aspect-ratio: 2/1;
    text-align: center;
    animation: spawnSpan 0.5s linear;
}
.typeBox>:nth-last-child(1){
    opacity: 0.1;
}
.typeBox>:nth-last-child(2){
    opacity: 0.25;
}
.typeBox>:nth-last-child(3){
    opacity: 0.5;
}

.hit{
    animation: 0.5s getHit linear alternate;
}

@keyframes spawnSpan {
    from{
        opacity: 0;
        transform: translateX(-100px);
    }to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes getHit {
    0%,100%{
        transform: translateY(0) translateX(0);
        box-shadow: inset 0 0 100px rgba(255, 0, 0, 0),inset 0 0 20px rgba(255, 0, 0, 0);
    }55%{
        transform: translateY(3px) translateX(-3px);
        box-shadow: inset 0 0 100px red,inset 0 0 20px red;
    }
}

@keyframes pulsing {
    from{
        opacity: 0.5;
    }
    to{
        opacity: 0.8;
    }
}

@media only screen and (max-width: 600px) {
    .gamescreen{
        flex-direction: column;
        gap: 0;
    }
    .gamescreen>*{
        width: 100%;
        height: 30%;
    }
    .gamescreen>*:nth-child(2){
        height: 50%;
    }
    .timerBox{
        padding: 5px 0;
        flex-direction: row;
    }
    .timer{
        width: 60%;
    }
    .timerBox>p{
        text-align: left;
        font-size: 0.9em;
        width: 35%;
    }
    .counter{
        font-size: 0.9em;
        border: 1px solid white;
        padding: 0 5px;
    }
}